extends layout.pug

block content
    .me
        img.evan(src='img/viola-1-new.jpg')
        .header
            h1 Evan Dorsky
            .email github/evandorsky

        .info
            ul
                li Olin College Electrical and Computer Engineering
                li Apple Hardware System Integration Engineer
                li San Francisco
            //- ul.past
            //-     li Course designer and teaching team member at Olin College

    .portfolio
        each cat, key in categories
            .cat(class=key)
                .photo-box
                    each entry in cat.entries
                        .cat-img(name=entry.name)
                            if key == "courses"
                                .whiteout
                                p #{entry.title}
                            else
                                .img-container
                                    .whiteout
                                    img.color(src='img/'+key+'/'+entry.name+'_tn.jpg')
                                    img.gray(src='img/'+key+'/'+entry.name+'_tn_gray.jpg')
                .details-box
                    each entry in cat.entries
                        if key == "courses"
                            .cat-details(name=entry.name)
                                .role #{entry.role}
                                p #{entry.desc}
                                .date #{entry.date}
                        else
                            .cat-details(name=entry.name)
                                h2 #{entry.title}
                                .role #{entry.role}
                                p #{entry.desc}
                                .date #{entry.date}
                a(href=key+'.html').cat-title #{cat.title}