doctype html

include mixins.pug

html(lang='en')
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Evan Dorsky

        script(src=dirRoot+'/js/zepto.min.js')
        script(src=dirRoot+'/js/velocity.min.js')
        script(src=dirRoot+'/js/main.js')

        link(href=dirRoot+'/css/style.css', rel='stylesheet')
        //- link(rel='stylesheet', href=dirRoot+'/node_modules/simplebar/dist/simplebar.css')
        //- script(src=dirRoot+'/node_modules/simplebar/dist/simplebar.min.js')
        //- noscript
        //-   style
        //-     | .simplebar-content-wrapper {
        //-     |   overflow: auto;
        //-     | }

    body
        block content