mixin carousel(category, entries, type, dirRoot)
  .photo-box(class=type)
    each entry in entries
      .cat-img(name=entry.name)
        if category == "courses"
          .whiteout
          p #{entry.title}
        else
          .img-container
            .whiteout
            img.color(src=dirRoot+'/img/'+category+'/'+entry.name+'_tn.jpg')
            img.gray(src=dirRoot+'/img/'+category+'/'+entry.name+'_tn_gray.jpg')
            if entry.open_img
              img.open(src=dirRoot+'/img/'+category+'/'+entry.name+'-open_tn.jpg')